// ------- --------------------- - //

* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}

// ----- -------------- ------ ----------------//
// _-_-_-_-_-_- BASE STYLES (TOP DOWN)_-_-_-_-_-//

body {
    background-color: rgb(255, 228, 187);
    margin-top: 30px;
}

input {
    display: block;
    margin: 0 auto;
    background-color: rgb(248, 246, 239);
    border: 2px solid rgb(230, 224, 224);
    border-radius: 8px;
    width: 56%;
    max-width: 480px;
    padding: 4px;
    &[type='text'] {
        font-size:1.4em;
    }
    &:focus {
        outline: none;
    }
}

.gallery {
    max-width: 960px;
    margin: 18px auto;
    width: 80%;  
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    a {
        margin: 10px 8px;
        img {
            width: 150px;
            height: 150px;
            box-shadow: 6px 6px 6px #888787;
            &:hover {
            transform: scale(1.07);
        }
        }
    }
    
}
  
.sign-off {
    margin: 26px 0;
    text-align: center;
    span {
        font-style: italic;
        color: rgb(168, 161, 161);
        font-size: 0.9em;
        transition: color .5s;
        &:hover {
            color: rgb(29, 28, 28);
        }
    }
}
// ----------- PLUGIN STYLE----------- -----//
.lb-data .lb-caption {
    font-size: 0.95em;
}
// ---------------- ----- ---------------- //
// ------- ---- MEDIA QUERIES ---- ------- //

@media (min-width: 1020px) {
    .gallery a img {
        width: 180px;
        height: 180px;
    }
    input {
        width: 80%;
        padding: 8px;
    }
}
@media (min-width: 1260px) {
    .gallery a img {
        width: 200px;
        height: 200px;
    }
}
